#dominator
**/web/dominator/*
!**/web/dominator/paging
!**/web/dominator/index.php
!**/web/dominator/system

web/plug_in

#dominator/paging
web/dominator/paging/ckeditor
web/dominator/paging/ckfinder
web/dominator/paging/xckeditor
web/dominator/paging/xckfinder
web/test.php
