@import "base/mixin";

.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 99;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: black;
    transition: 0.4s ease;
    @media (min-width: 992px) {
        height: $headH-pc;
        padding: 0 70px;
    }
    @media (min-width: 768px) and (max-width: 991px) {
        height: 70px;
        padding: 0 40px;
    }
    @media (max-width: 767px) {
        height: $headH-mo;
        padding: 0px 20px;
        &.open {
            .container__menu {
                opacity: 1;
                visibility: visible;
                pointer-events: initial;
            }
            .container__language {
                opacity: 0;
                visibility: hidden;
                pointer-events: none;
            }
            .container__burger {
                span {
                    background: rgba(255, 255, 255, 0);
                    width: 28px;
                    height: 3px;
                    &::after {
                        width: 28px;
                        transform: rotate(-45deg);
                        -webkit-transform: rotate(-45deg);
                        bottom: 0px;
                        background: #44b23a;
                        height: 3px;
                    }
                    &::before {
                        width: 28px;
                        transform: rotate(45deg);
                        -webkit-transform: rotate(45deg);
                        top: 0px;
                        background: #44b23a;
                        height: 3px;
                    }
                }
            }
        }
    }
    .container {
        &__logo {
            z-index: 2;
            a {
                display: inline-block;
                width: 173px;
                @media (max-width: 767px) {
                    width: 121px;
                }
            }
            img {
                width: 100%;
            }
        }
        &__menu {
            flex-grow: 2;
            color: white;
            display: flex;
            justify-content: flex-end;
            height: 100%;
            @media (max-width: 767px) {
                justify-content: flex-start;
                position: fixed;
                left: 0;
                top: 0;
                width: 100%;
                overflow-y: auto;
                background: url(../images/menubg.jpg) center bottom/cover no-repeat;
                padding-top: 23vh;
                padding-left: 72px;
                opacity: 0;
                visibility: hidden;
                pointer-events: none;
                transition: 0.4s ease;
            }
            .menu__wrap {
                display: flex;
                height: 100%;
                @media (max-width: 767px) {
                    flex-direction: column;
                }
            }
            .menu__title {
                position: relative;
                font-weight: 700;
                a {
                    display: block;
                    padding-top: 28px;
                    height: 100%;
                    @media (max-width: 767px) {
                        padding-top: 0;
                        padding-bottom: 5px;
                    }
                }
                &.active {
                    color: #ffb500;
                    &::after {
                        opacity: 1;
                    }
                }
                &::after {
                    content: "";
                    width: 100%;
                    height: 5px;
                    background-color: #ffb500;
                    position: absolute;
                    left: 0;
                    bottom: 0px;
                    opacity: 0;
                    transition: 0.4s ease;
                    @media (max-width: 767px) {
                        height: 3px;
                    }
                }
                @media (min-width: 768px) {
                    margin-right: 32px;
                    &:hover {
                        color: #ffb500;
                        &::after {
                            opacity: 1;
                        }
                    }
                }
                @media (max-width: 767px) {
                    font-size: pxToEm(27);
                    width: fit-content;
                    &:not(:last-child) {
                        margin-bottom: 45px;
                    }
                }
            }
        }
        &__language {
            .circle {
                display: block;
                width: 43px;
                height: 43px;
                background-color: #ffb500;
                border-radius: 50%;
                position: relative;
                transition: 0.4s ease;
            }
            .f16 {
                font-weight: 700;
                position: absolute;
                left: 50%;
                top: 50%;
                transform: translate(-50%, -50%);
                transition: 0.4s ease;
            }
            @media (min-width: 768px) {
                &:hover {
                    .circle {
                        background-color: black;
                        box-shadow: 0 0 0 1px #ffb500;
                    }
                    .f16 {
                        color: #ffb500;
                    }
                }
            }
            @media (max-width: 767px) {
                margin-left: auto;
                margin-right: 18px;
            }
        }
        &__burger {
            @media (max-width: 767px) {
                .burger {
                    position: relative;
                    width: 40px;
                    height: 40px;
                    cursor: pointer;
                }
                span {
                    position: absolute;
                    background: #44b23a;
                    width: 36px;
                    height: 4px;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    opacity: 1;
                    transition: all 0.3s ease-in-out;
                    &::before {
                        position: absolute;
                        background: #44b23a;
                        width: 36px;
                        height: 4px;
                        top: 10px;
                        right: 0;
                        content: "";
                        display: block;
                        transition: all 0.3s ease-in-out;
                    }
                    &::after {
                        position: absolute;
                        background: #44b23a;
                        width: 36px;
                        height: 4px;
                        bottom: 10px;
                        right: 0;
                        content: "";
                        display: block;
                        transition: all 0.3s ease-in-out;
                    }
                }
            }
        }
    }
}
