@import "base/mixin";

//-------------------------font-------------------------//

.f16 {
    font-size: pxToEm(16);
}

.f14 {
    @include font-size(pxToEm(12), pxToEm(14));
}

//-------------------------btn-------------------------//
.btnwrap {
    .btn {
        display: inline-block;
        min-width: 250px;
        margin: 0 auto;
        @include font-size(pxToEm(16), pxToEm(18));
        font-weight: 500;
        border: 1px solid #21553c;
        padding: 15px 64px;
        background-color: #21553c;
        color: white;
        transition: 0.4s ease;
        position: relative;
        span {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            right: 50px;
            display: inline-block;
            width: 36px;
            height: 5px;
            background: url(../../dist/images/btn_arrow1.png) center/cover no-repeat;
            transition: 0.4s ease;
        }
        @media (min-width: 768px) {
            &:hover {
                background-color: transparent;
                color: #21553c;
                span {
                    right: 35px;
                    background: url(../../dist/images/btn_arrow1_hover.png) center/cover no-repeat;
                }
            }
        }
    }
}
.btnwrap-sm {
    .btn {
        display: inline-block;
        min-width: 211px;
        margin: 0 auto;
        @include font-size(pxToEm(16), pxToEm(18));
        font-weight: 500;
        border: 1px solid #21553c;
        padding: 15px 60px;
        background-color: #21553c;
        color: white;
        transition: 0.4s ease;
        position: relative;
        span {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            right: 40px;
            display: inline-block;
            width: 36px;
            height: 5px;
            background: url(../../dist/images/btn_arrow1.png) center/cover no-repeat;
            transition: 0.4s ease;
        }
        @media (min-width: 768px) {
            &:hover {
                background-color: transparent;
                color: #21553c;
                span {
                    right: 20px;
                    background: url(../../dist/images/btn_arrow1_hover.png) center/cover no-repeat;
                }
            }
        }
    }
    @media (max-width: 767px) {
        .btn {
            text-align: center;
            min-width: 90px;
            padding: 5.5px 15px;
            span {
                display: none;
                // right: 20px;
                // width: 23px;
                // height: 3px;
            }
        }
    }
}
.backbtnwrap {
    display: flex;
    justify-content: center;
    margin-bottom: 35px;
    .backbtn {
        display: inline-block;
        min-width: 250px;
        margin: 0 auto;
        @include font-size(pxToEm(16), pxToEm(18));
        font-weight: 500;
        border: 1px solid #21553c;
        padding: 15px 76px;
        text-align: center;
        background-color: #21553c;
        color: white;
        transition: 0.4s ease;
        position: relative;
        span {
            position: absolute;
            top: 50%;
            transform: translateY(-50%) scaleX(-1);
            left: 80px;
            display: inline-block;
            width: 36px;
            height: 5px;
            background: url(../../dist/images/btn_arrow1.png) center/cover no-repeat;
            transition: 0.4s ease;
        }
        @media (min-width: 768px) {
            &:hover {
                background-color: transparent;
                color: #21553c;
                span {
                    left: 65px;
                    background: url(../../dist/images/btn_arrow1_hover.png) center/cover no-repeat;
                }
            }
        }
    }
    @media (max-width: 767px) {
        margin-bottom: 20px;
    }
}

sup {
    vertical-align: super;
    font-size: 12px;
}
